<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mappers.BoardMapper">
    <select id="selectOne" parameterType="int" resultType="BoardDTO">
        SELECT * FROM board
        INNER JOIN user
        ON board.writer_id = user.id
        WHERE board.id = #{id}
    </select>
    <select id="selectMaxPage" resultType="int">
        SELECT COUNT(*) FROM board
    </select>
    <select id="selectList" parameterType="hashmap" resultType="BoardDTO">
        SELECT * FROM board
        INNER JOIN user
        ON board.writer_id = user.id
        ORDER BY board.id DESC
        LIMIT ${startRow}, ${size}
    </select>
    <insert id="insert" parameterType="BoardDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board(title, content, writer_id, entry_date, modify_date)
        VALUES(#{title}, #{content}, #{writerId}, NOW(), NOW()
    </insert>
</mapper>